
.start-image-container {
    position: relative;
    width: 1920px;
    height: 1172px;
}

.start-div-blur {
    background-color: rgba(32, 41, 64, 0.6);
    
    z-index: 1;
}

.start-div {
  background-image: url('/img/hintergrund-start.jpg');
  filter: blur(2.5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.start-text {
    z-index: 2;
}