html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.figma-content {
  transform-origin: top left;
  width: 1920px;
}

@media (min-width: 1920px) {
  .figma-content {
    transform: none;
    width: 100%;
    margin: 0 auto;
  }
}


.start-image-container {
    position: relative;
    width: 1920px;
    height: 1172px;
}

.start-div-blur {
    background-color: rgba(32, 41, 64, 0.6);
    
    z-index: 1;
}

.start-div {
  background-image: url('/img/hintergrund-start.jpg');
  filter: blur(2.5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.start-element {
    z-index: 2;
}

.start-text {
  cursor: pointer;
}

.start-text:hover {
  color: #BDB9B9 !important;
}

.light-text {
  font-weight: lighter !important;
}

.smaller-text {
  font-size: 20px !important;
}

.medium-txt {
  font-size: 48px !important;
}

.bigger-text {
  font-size: 32px !important;
}

.bolder-text {
  font-weight: 700 !important;
}
